CompileFlags:
    Remove: -W*
    Add: [-Wall, -pedantic, -I/opt/rocm/include, -I/opt/rocm/include/hsa, -I/opt/rocm/include/rocprofiler]
    Compiler: clang++

# list here: https://clang.llvm.org/extra/clang-tidy/checks/list.html
Diagnostics:
    UnusedIncludes: Strict
    ClangTidy:
        Add: [
            abseil*,
            bugprone*,
            clang-analyzer*,
            misc*,
            modernize*,
            performance*,
            readability*,
        ]
        Remove: [
            bugprone-easily-swappable-parameters,
            bugprone-reserved-identifier,
            bugprone-suspicious-string-compare,
            cppcoreguidelines*,
            modernize-avoid-c-arrays,
            modernize-use-nodiscard,
            modernize-use-trailing-return-type,
            modernize-use-using,
            readability-convert-member-functions-to-static,
            readability-function-cognitive-complexity,
            readability-identifier-length,
            readability-implicit-bool-conversion,
            readability-magic-numbers,
            readability-make-member-function-const,
        ]
        #CheckOptions:
